<div style="text-align: center;">
  <h1>
    Welcome to ngrx-data-pagination!
  </h1>
</div>

<div>
  Page: {{ pagination.currentPage$ | async | json }}
  <br>
  Page Number: {{ pagination.pageNumber$ | async | json }}
  <br>
  Loading next page: {{ pagination.loadingNextPage$ | async | json }}
  <br>
  Loading new page: {{ pagination.loadingNewPage$ | async | json }}
  <br>
  Done: {{ pagination.done$ | async | json }}
</div>

<br>
<button (click)="nextPage()">Next Page</button>
<br>
<br>
<button (click)="prevPage()">Prev Page</button>
