<div style="text-align: center;">
  <h1>
    ngrx-data-pagination demo app
  </h1>
</div>

<a [href]="demoCodeLink" target="_blank">
  Demo app source code
</a>
<a [href]="libraryCodeLink" target="_blank">
  Library source code
</a>

<br>

Page:
<div class="page-json">{{ page$ | async | json }}</div>

<table>
  <tr>
    <td>Page Number</td>
    <td>{{ pagination.selectors$.pageNumber | async | json }}</td>
  </tr>
  <tr>
    <td>Next page loading</td>
    <td>{{ pagination.selectors$.nextPageLoading | async | json }}</td>
  </tr>
  <tr>
    <td>Loading new page</td>
    <td>{{ pagination.selectors$.loadingNewPage | async | json }}</td>
  </tr>
  <tr>
    <td>Done</td>
    <td>{{ pagination.selectors$.done | async | json }}</td>
  </tr>
  <tr>
    <td>All page IDs</td>
    <td>
      <div class="all-page-ids">
        {{ pagination.selectors$.allPageIds | async | json }}
      </div>
    </td>
  </tr>
</table>

<br>

<button
  (click)="prevPage()"
  [disabled]="pagination.selectors$.onFirstPage | async">
  &larr; Prev Page
</button>
<button
  (click)="nextPage()"
  [disabled]="pagination.selectors$.onFinalPage | async">
  Next Page &rarr;
</button>

<br><br>
<button
  (click)="loadAllPages()">
  Load All Pages (currently uncancellable)
</button>

<br><br><hr><br>

There are three rules when using the <div class="mono">Pagination</div> object:
<ul>
  <li>Don't go back from the first page (i.e., <div class="mono">pageNumber</div> is <div class="mono">0</div> or <div class="mono">null</div>)</li>
  <li>Don't go forward when the next page is loading (i.e., <div class="mono">nextPageLoading</div> is <div class="mono">true</div>)</li>
  <li>Don't go forward from the last page after becoming <div class="mono">done</div></li>
</ul>
