<div style="text-align: center;">
  <h1>
    Welcome to ngrx-data-pagination!
  </h1>
</div>

<div>
  Page: {{ data$ | async | json }}
  <br>
  Page Number: {{ pagination.selectors$.pageNumber | async | json }}
  <br>
  Loading next page: {{ pagination.selectors$.nextPageLoading | async | json }}
  <br>
  Loading new page: {{ pagination.selectors$.loadingNewPage | async | json }}
  <br>
  Done: {{ pagination.selectors$.done | async | json }}
</div>

<br>
<button (click)="nextPage()">Next Page</button>
<br>
<br>
<button (click)="prevPage()">Prev Page</button>
